* {margin: 0;}

body {
    background: #f1f1f1;
    font-family: Roboto, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Zen Hei, sans-serif;
    font-size: 81.25%;
}

#header {
    margin: 0;
    height: 56px;
    background-color: #3367d6;
}

#nav {
    width: 640px;
    margin: 0 auto;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    color: #fff;
    margin: 0;
    display: inline;
}

#mask {
    background-color: black;
    opacity: 0.7;
    filter: alpha(opacity=50);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
}

.button {
    background: rgb(66, 133, 244);
    border: 0;
    border-radius: 2px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    float: right;
    font-size: .875em;
    margin: 0;
    padding: 10px 24px;
    text-align: center;
    text-indent: 0px;
    text-shadow: none;
    font: 13px Arial;
    box-shadow:
        0 2px 2px 0 rgba(0, 0, 0, .03),
        0 1px 4px 0 rgba(0, 0, 0, .048),
        0 3px 1px -2px rgba(0, 0, 0, .12);
}

.button:hover {
    box-shadow:
        0 5px 3px -3px rgba(0, 0, 0, .2),
        -4px 0 2px -2px rgba(0, 0, 0, .06),
        4px 0 2px -2px rgba(0, 0, 0, .06),
        0 2px 2px 0 rgba(0, 0, 0, .03),
        0 1px 4px 0 rgba(0, 0, 0, .048),
        0 3px 1px -2px rgba(0, 0, 0, .12);
}

.button:active {
    box-shadow:
        0 2px 1px rgba(0, 0, 0, .12) inset,
        1px 0 1px rgba(0, 0, 0, .12) inset,
        -1px 0 1px rgba(0, 0, 0, .12) inset;
}
.button:focus {
    outline: inherit;
}


#main-box {
    width: 640px;
    margin: 50px auto;
    padding: 5px;
}

.list-items {
    height: 160px;
    margin-top: 10px;
    box-shadow:
        0 2px 2px 0 rgba(0, 0, 0, .03),
        0 1px 4px 0 rgba(0, 0, 0, .048),
        0 3px 1px -2px rgba(0, 0, 0, .12);
}

.items-active {
    background: white;
}

.items-complete {
    background: rgba(255, 255, 255, .6);
}

.items-container {
    margin: 10px;
    padding: 16px 16px 16px 50px;
}

.items-active .item-topic {
    color: #5a5a5a;
    font-weight: 500;
}

.items-active .item-date {
    color: #969696;
    margin-top: 2px;
    padding: 0;
    font-size: 70%;
}

.items-active .item-content {
    color: #5a5a5a;
    margin-top: 2px;
    word-break: normal;
}

.items-complete .item-topic {
    -webkit-margin-end: 12px;
    color: #969696;
    font-weight: 500;
    text-decoration: line-through;
}

.items-complete .item-date {
    color: #969696;
    margin-top: 2px;
    padding: 0;
    font-size: 70%;
}

.items-complete .item-date .create{
    -webkit-margin-end: 20px;
}

.items-complete .item-content {
    color: #969696;
    margin-top: 2px;
    word-break: normal;
}

#registry-container {
    height: 380px;
    width: 670px;
    position: fixed;
    z-index: 1001;
    box-sizing: border-box;
    background: #fff;
    color: #5a5a5a;
}

#beautifier {
    height: 5px;
    width: 100%;
    background-color: #3367d6;
    box-sizing: border-box;
}

#registry {
    box-sizing: border-box;
    padding: 20px 35px;
}

#topic {
    height: 2.5em;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #969696;
    border-radius: 5px;
    padding: 5px;
    color: #a8adba;
}

#expiration-date {
    margin-top: 10px;
    margin-bottom: 10px;
}

#year {
    -webkit-margin-end: 7px;
}
#month {
    -webkit-margin-end: 7px;
}
#day {
    -webkit-margin-end: 7px;
}

#content {
    height: 214px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #969696;
    border-radius: 5px;
    padding: 5px;
    resize: none;
    color: #a8adba;
}

#registry-buttons {
    margin: 10px auto;
    width: 232px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


footer {
    text-align: center;
}
